@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.eachTimeline {
  position: relative;
  padding: 20px;
}

.eachTimeline::before,
.eachTimeline::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  background-color: #007bff;
}

.eachTimeline::before {
  top: -10px;
  left: -11px;
}
.eachTimeline::after {
  bottom: -10px;
  left: -11px;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px); /* Increased distance of slide */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation-name: slideDown;
  animation-duration: 1.5s; /* Slower animation */
  animation-timing-function: ease-out;
}

